<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.requestly.android.core">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:theme="@style/Theme.RequestlyBaseTheme"
            android:name=".ui.MainRequestlyActivity"
            android:exported="false" />

        <service
            android:name="io.requestly.android.core.internal.support.RQConnectionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="io.requestly.android.core.internal.support.RQConnectionIntentServiceReceiver"
            android:exported="false" />

        <receiver
            android:name="io.requestly.android.core.internal.support.CopyIntentServiceReceiver"
            android:exported="false" />
    </application>

</manifest>
